*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  grid-template-rows: 500px;
  width: 100%;
  background-color: #e9caaa;
}
#content .hero-left {
  grid-column: 1/3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(255, 255, 255, 0)), url(images/burger.png);
  background-size: cover;
  background-position: bottom;
  border: 2px solid white;
}
#content .hero-main {
  grid-column: 3/-3;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0)), url(images/main.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 1%;
  color: #e9e5e3;
  text-shadow: 2px 2px black;
  font-size: 3.5rem;
  font-family: "Great Vibes", cursive;
  text-decoration: underline;
  text-decoration-color: rgba(255, 254, 254, 0.055);
  border: 2px solid white;
}
#content .hero-right {
  grid-column: -1/-3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(255, 255, 255, 0)), url(images/fish.png);
  background-size: cover;
  background-position: bottom;
  border: 2px solid white;
}
@media only screen and (max-width: 800px) {
  #content .hero-left {
    display: none;
  }
  #content .hero-right {
    display: none;
  }
  #content .hero-main {
    grid-column: 1/-1;
  }
}
#content .hero-caption {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Great Vibes", cursive;
  margin-top: 1%;
  background-color: #caa486;
  text-shadow: 1px 1px white;
  border-bottom: 2px solid rgba(26, 25, 25, 0.541);
  border-top: 2px solid rgba(26, 25, 25, 0.541);
}
#content .tabs {
  grid-column: 2/-2;
  margin-top: 1%;
  display: flex;
}
#content .tabLinks {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 8rem;
  margin-right: 1%;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  background-color: #eed3bc;
  outline: none;
}
#content .main-content {
  grid-column: 2/-2;
  background-color: #eed3bc;
  padding: 1%;
}
#content .main-content * {
  margin: 2% 0;
}
#content .main-content #contact-title {
  font-size: 3rem;
  text-align: center;
  font-family: "Great Vibes", cursive;
  text-shadow: 2px 2px white;
  padding-bottom: 0;
}
#content .main-content #phone {
  text-align: center;
  font-size: 1.5rem;
}
#content .main-content .contact-form {
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  padding: 1%;
  flex-direction: column;
  background-color: #caa486;
  border: 2px solid rgba(0, 0, 0, 0.493);
}
#content .main-content .contact-form * {
  margin: 2px;
}
#content .main-content .contact-form #message-area {
  height: 100px;
}
#content .main-content .hours-loc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  line-height: 2rem;
  background-color: #eccfaa;
  font-size: 1.2rem;
  border: 2px solid #caa486;
}
#content .main-content .hours-loc .main-descrip {
  flex: 0 1 100%;
  padding: 0 5%;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
#content .main-content .hours-loc * {
  border-left: 1px solid rgba(0, 0, 0, 0.24);
  border-right: 1px solid rgba(0, 0, 0, 0.24);
  padding: 10px;
}
#content .main-content .order-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2.5rem;
  font-family: "Great Vibes", cursive;
  background-color: #caa486;
  text-shadow: 1px 1px white;
  border: 3px solid #4d360c;
}
#content .main-content #testimonials {
  display: flex;
  justify-content: space-around;
}
#content .main-content #testimonials .test-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .main-content #testimonials .test-section small {
  font-size: 0.8rem;
}
#content .main-content #testimonials .test-section p {
  font-style: italic;
}
#content .main-content #testimonials .test-section .test-img {
  background-size: cover;
  border: 3px solid black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
#content .main-content #testimonials .test-section #chick-img {
  background-image: url(images/chicken.png);
}
#content .main-content #testimonials .test-section #cow-img {
  background-image: url(images/cow.png);
}
#content .main-content #testimonials .test-section #pig-img {
  background-image: url(images/pig.png);
}
#content .menu-items {
  border: 2px solid rgba(0, 0, 0, 0.562);
  display: flex;
  background-color: rgba(210, 180, 140, 0.486);
}
#content .menu-items h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  text-shadow: 2px 2px white;
}
#content .menu-items .menu-imgs {
  min-width: 200px;
  height: 160px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border: 3px solid rgba(0, 0, 0, 0.562);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 1%;
}
#content .menu-items #menu-burger {
  background-image: url(images/burger.png);
}
#content .menu-items #menu-ribs {
  background-image: url(images/ribs.png);
}
#content .menu-items #menu-steak {
  background-image: url(images/steak.png);
}
#content .menu-items #menu-fish {
  background-image: url(images/fish.png);
  background-position: bottom 10px;
}
#content .menu-items #menu-ice-cream {
  background-image: url(images/ice-cream.png);
}
#content .menu-items #menu-pie {
  background-image: url(images/pie.png);
  background-position: left;
}
#content footer {
  grid-column: 1/-1;
  text-align: center;
  background-color: #caa486;
  border-top: 2px solid rgba(26, 25, 25, 0.541);
}
#content footer h5 {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
